In [1]:
#IMPORTO LIBRERIE
import pandas as pd

In [2]:
df = pd.read_csv('corporate-transactions-with-users-without-vat.csv', sep=";" , engine="python", encoding="ISO-8859-1" )
df.shape

(317287, 25)

In [ ]:
df.info()

In [ ]:
df[df['isFraud']==1]

In [ ]:
#PULIZIA DATASET E RIMOZIONE COLONNE DEPRECATE

#df['datetime'] = pd.to_datetime(df['timestamp'], format='%Y-%m-%d %I:%M:%S.%f', infer_datetime_format=True)

def data_cleaning(df):
    df = df.drop(columns=['loginMode', 'isFraud', 'bankCode']) #inutili
    df = df.drop(columns=['BIC_locationCode','BIC_branchCode','BIC_countryCode']) #incompleti
    df = df.drop(columns=['userAgent_isMobile','userAgent_isTablet','userAgent_isTouch']) #sono 99% pc
    df = df.drop(df[df.companyType=='****'].index)
    df = df.dropna()

    df = df[pd.to_numeric(df['CAP'], errors='coerce').notnull()] #solo cap numerici, filtra 'MONTE'
    df.CAP=df.CAP.astype(int)

    df.SAE = df.SAE.astype(int) #era float

    df.RAE = df.RAE.astype(int) #era float

    df['IBAN_bankCode'] = df['IBAN_bankCode'].astype('str')

    return df

df=data_cleaning(df)
df.head()

In [4]:
df[df['isFraud']==1]

,customerId,timestamp,bankCode,country,amount,businessName,loginMode,isFraud,userAgent_isMobile,userAgent_isTablet,...,IBAN_countryCode,IBAN_bankCode,BIC_branchCode,BIC_countryCode,BIC_locationCode,SIA,CAP,SAE,RAE,companyType
194419,54096722,2021-08-06 08:54:35.077,5856,Italy,1.50,93253f4667e5963c5c22de3716c3b00c,AUTENTICATO TRAMITE QRCODE,1,0,0,...,EE,77,NaN,NaN,NaN,CSMGY,NaN,NaN,NaN,NaN
201439,65913401,2021-09-11 17:49:50.217,5856,Italy,10000.00,d6b7efe402f2ad07b7e7e5ad2fa8d0d0,AUTENTICATO TRAMITE QRCODE,1,0,0,...,DE,70022200,XXX,DE,MM,B667A,NaN,NaN,NaN,NaN
274346,88146695,2021-08-09 12:48:39.39,5856,Italy,43152.77,24ad200d6b46c53ed04be5b4bf3b6b0d,AUTENTICATO TRAMITE QRCODE,1,0,0,...,RO,BRDE,NaN,NaN,NaN,M3948,NaN,NaN,NaN,NaN
274479,88146695,2021-08-03 16:22:55.233,5856,Italy,43152.77,24ad200d6b46c53ed04be5b4bf3b6b0d,AUTENTICATO TRAMITE QRCODE,1,0,0,...,RO,BRDE,NaN,NaN,NaN,M3948,NaN,NaN,NaN,NaN

In [3]:
#PULIZIA DATASET E RIMOZIONE COLONNE DEPRECATE

#df['datetime'] = pd.to_datetime(df['timestamp'], format='%Y-%m-%d %I:%M:%S.%f', infer_datetime_format=True)

def data_cleaning(df):
    df = df.drop(columns=['loginMode', 'isFraud', 'bankCode']) #inutili
    df = df.drop(columns=['BIC_locationCode','BIC_branchCode','BIC_countryCode']) #incompleti
    df = df.drop(columns=['userAgent_isMobile','userAgent_isTablet','userAgent_isTouch']) #sono 99% pc
    df = df.drop(df[df.companyType=='****'].index)
    df = df.dropna()

    df = df[pd.to_numeric(df['CAP'], errors='coerce').notnull()] #solo cap numerici, filtra 'MONTE'
    df.CAP=df.CAP.astype(int)

    df.SAE = df.SAE.astype(int) #era float

    df.RAE = df.RAE.astype(int) #era float

    df['IBAN_bankCode'] = df['IBAN_bankCode'].astype('str')

    return df

df=data_cleaning(df)
df.head()

,customerId,timestamp,country,amount,businessName,userAgent_isPc,userAgent_isBot,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType
0,93000801,2021-09-15 16:13:35.147,Italy,150.00,c7543b6f04850eae288aa52783b33363,1,0,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS
1,93000801,2021-08-24 10:34:24.487,Greece,3200.00,c7543b6f04850eae288aa52783b33363,1,0,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS
2,93000801,2021-09-14 16:21:43.33,Italy,8350.00,c7543b6f04850eae288aa52783b33363,1,0,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS
3,93001001,2021-06-30 09:07:16.733,Italy,500.00,3f241dfcc38064261fec0f303c2784e5,1,0,Chrome,Windows,IT,2008,CEFGV,31039,430,505,SRL
4,93001001,2021-07-12 16:36:02.857,Italy,1895.68,a5d1eaffa8e325d370665f43624339a1,1,0,Chrome,Windows,IT,3069,CEFGV,31039,430,505,SRL

In [4]:
#non ci sono più bonifici con isbot=1 eliminiamo la colonna
df=df.drop(columns='userAgent_isBot')
df.head()

,customerId,timestamp,country,amount,businessName,userAgent_isPc,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType
0,93000801,2021-09-15 16:13:35.147,Italy,150.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS
1,93000801,2021-08-24 10:34:24.487,Greece,3200.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS
2,93000801,2021-09-14 16:21:43.33,Italy,8350.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS
3,93001001,2021-06-30 09:07:16.733,Italy,500.00,3f241dfcc38064261fec0f303c2784e5,1,Chrome,Windows,IT,2008,CEFGV,31039,430,505,SRL
4,93001001,2021-07-12 16:36:02.857,Italy,1895.68,a5d1eaffa8e325d370665f43624339a1,1,Chrome,Windows,IT,3069,CEFGV,31039,430,505,SRL

In [5]:
df.to_csv('cleaned_data.csv')