import pandas as pd

In [13]:
import pandas as pd

df = pd.read_csv('smote.csv',decimal=',')
df = df.drop(columns='Unnamed: 0')
df.head()

,country,amount,userAgent_isPc,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType,is_anomaly
0,Italy,150.00,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
1,Greece,3200.00,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
2,Italy,8350.00,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
3,Italy,500.00,1,Chrome,Windows,IT,2008,CEFGV,31039,430,505,SRL,0
4,Italy,1895.68,1,Chrome,Windows,IT,3069,CEFGV,31039,430,505,SRL,0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181862 entries, 0 to 181861
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   country                  181862 non-null  object
 1   amount                   181862 non-null  float64
 2   userAgent_isPc           181862 non-null  int64
 3   userAgent_browserFamily  181862 non-null  object
 4   userAgent_osFamily       181862 non-null  object
 5   IBAN_countryCode         181862 non-null  object
 6   IBAN_bankCode            181862 non-null  object
 7   SIA                      181862 non-null  object
 8   CAP                      181862 non-null  int64
 9   SAE                      181862 non-null  int64
 10  RAE                      181862 non-null  int64
 11  companyType              181862 non-null  object
 12  is_anomaly               181862 non-null  int64
dtypes: float64(1), int64(5), object(7)
memory usage: 18.0+ MB

In [15]:
df['CAP'] = df['CAP'].apply(str)
df['SAE'] = df['SAE'].apply(str)
df['RAE'] = df['RAE'].apply(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181862 entries, 0 to 181861
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   country                  181862 non-null  object
 1   amount                   181862 non-null  float64
 2   userAgent_isPc           181862 non-null  int64
 3   userAgent_browserFamily  181862 non-null  object
 4   userAgent_osFamily       181862 non-null  object
 5   IBAN_countryCode         181862 non-null  object
 6   IBAN_bankCode            181862 non-null  object
 7   SIA                      181862 non-null  object
 8   CAP                      181862 non-null  object
 9   SAE                      181862 non-null  object
 10  RAE                      181862 non-null  object
 11  companyType              181862 non-null  object
 12  is_anomaly               181862 non-null  int64
dtypes: float64(1), int64(2), object(10)
memory usage: 18.0+ MB

In [16]:
import pickle
encoder_dict=pickle.load(open('enc_dict.pkl','rb'))

In [17]:
columns_to_label = ['country','userAgent_browserFamily','userAgent_osFamily','IBAN_countryCode','IBAN_bankCode','CAP','SIA','SAE','RAE','companyType']
for clmn in columns_to_label:
    df[clmn]=df[clmn].apply(str)
    df[clmn] = encoder_dict[clmn].transform(df[clmn])
df.head()

,country,amount,userAgent_isPc,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType,is_anomaly
0,6,150.00,1,4,5,17,699,2013,141,19,113,5,0
1,5,3200.00,1,4,5,17,699,2013,141,19,113,5,0
2,6,8350.00,1,4,5,17,699,2013,141,19,113,5,0
3,6,500.00,1,0,5,17,123,1781,87,8,99,10,0
4,6,1895.68,1,0,5,17,285,1781,87,8,99,10,0

In [18]:
X_train=df.sample(frac=0.8, random_state=0)
y_train=X_train['is_anomaly']
X_train=X_train.drop(columns='is_anomaly')

X_test=df.drop(X_train.index)
y_test=X_test['is_anomaly']
X_test=X_test.drop(columns='is_anomaly')

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X_train, y_train)

neigh.predict(X_test)

In [ ]:
prediction=neigh.predict(X_test)