In [1]:
#IMPORTO LIBRERIE
import pandas as pd

In [2]:
df = pd.read_csv('cleaned_data.csv')
df.shape

(90960, 16)

In [3]:
df = df.drop(columns='Unnamed: 0')

In [4]:
df.head()

,customerId,timestamp,country,amount,businessName,userAgent_isPc,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType
0,93000801,2021-09-15 16:13:35.147,Italy,150.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS
1,93000801,2021-08-24 10:34:24.487,Greece,3200.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS
2,93000801,2021-09-14 16:21:43.33,Italy,8350.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS
3,93001001,2021-06-30 09:07:16.733,Italy,500.00,3f241dfcc38064261fec0f303c2784e5,1,Chrome,Windows,IT,2008,CEFGV,31039,430,505,SRL
4,93001001,2021-07-12 16:36:02.857,Italy,1895.68,a5d1eaffa8e325d370665f43624339a1,1,Chrome,Windows,IT,3069,CEFGV,31039,430,505,SRL

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90960 entries, 0 to 90959
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customerId               90960 non-null  int64
 1   timestamp                90960 non-null  object
 2   country                  90960 non-null  object
 3   amount                   90960 non-null  float64
 4   businessName             90960 non-null  object
 5   userAgent_isPc           90960 non-null  int64
 6   userAgent_browserFamily  90960 non-null  object
 7   userAgent_osFamily       90960 non-null  object
 8   IBAN_countryCode         90960 non-null  object
 9   IBAN_bankCode            90960 non-null  object
 10  SIA                      90960 non-null  object
 11  CAP                      90960 non-null  int64
 12  SAE                      90960 non-null  int64
 13  RAE                      90960 non-null  int64
 14  companyType              90960 non-null  object
dtypes: float64(1), int64(5), object(9)
memory usage: 10.4+ MB

In [9]:
for column in ['SIA','CAP','RAE','SAE']:
    df[column]=df[column].apply(str)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90960 entries, 0 to 90959
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   customerId               90960 non-null  int64
 1   timestamp                90960 non-null  object
 2   country                  90960 non-null  object
 3   amount                   90960 non-null  float64
 4   businessName             90960 non-null  object
 5   userAgent_isPc           90960 non-null  int64
 6   userAgent_browserFamily  90960 non-null  object
 7   userAgent_osFamily       90960 non-null  object
 8   IBAN_countryCode         90960 non-null  object
 9   IBAN_bankCode            90960 non-null  object
 10  SIA                      90960 non-null  object
 11  CAP                      90960 non-null  object
 12  SAE                      90960 non-null  object
 13  RAE                      90960 non-null  object
 14  companyType              90960 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 10.4+ MB

In [11]:
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict #per creare un dizionario di label

encoder_dict = defaultdict(LabelEncoder)
columns_to_label = ['country','userAgent_browserFamily','userAgent_osFamily','IBAN_countryCode','IBAN_bankCode','CAP','SIA','SAE','RAE','companyType']


#fit+transform e aggiornamento del dizionario, restituisce il df labellato
def fit_transform_dict (df,enc_dict,columns):
    labeled=df.copy()
    for clmn in columns:
        enc_dict[clmn].fit(labeled[clmn])
        labeled[clmn]=enc_dict[clmn].transform(labeled[clmn])
    return labeled

labeled_df=fit_transform_dict(df,encoder_dict,columns_to_label)

labeled_df.head()

,customerId,timestamp,country,amount,businessName,userAgent_isPc,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType
0,93000801,2021-09-15 16:13:35.147,6,150.00,c7543b6f04850eae288aa52783b33363,1,4,5,17,699,2013,141,19,113,5
1,93000801,2021-08-24 10:34:24.487,5,3200.00,c7543b6f04850eae288aa52783b33363,1,4,5,17,699,2013,141,19,113,5
2,93000801,2021-09-14 16:21:43.33,6,8350.00,c7543b6f04850eae288aa52783b33363,1,4,5,17,699,2013,141,19,113,5
3,93001001,2021-06-30 09:07:16.733,6,500.00,3f241dfcc38064261fec0f303c2784e5,1,0,5,17,123,1781,87,8,99,10
4,93001001,2021-07-12 16:36:02.857,6,1895.68,a5d1eaffa8e325d370665f43624339a1,1,0,5,17,285,1781,87,8,99,10

In [9]:
labeled_df.to_csv('labeled_df.csv')

In [12]:
import pickle
pickle.dump(encoder_dict, open('enc_dict.pkl','wb'))