In [2]:
#IMPORTO LIBRERIE
import pandas as pd

In [3]:
df = pd.read_csv('misc_anomalies.csv',decimal=',')
df.shape

(90960, 16)

In [4]:
df = df.drop(columns=['customerId','timestamp','businessName'])
df.head()

,country,amount,userAgent_isPc,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType,is_anomaly
0,Italy,150.00,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
1,Greece,3200.00,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
2,Italy,8350.00,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
3,Italy,500.00,1,Chrome,Windows,IT,2008,CEFGV,31039,430,505,SRL,0
4,Italy,1895.68,1,Chrome,Windows,IT,3069,CEFGV,31039,430,505,SRL,0

In [5]:
#copy=df.copy()
#copy=copy.drop(columns=['is_anomaly'])
X=df.copy().drop(columns=['is_anomaly']).to_numpy(copy=True)
X

array([['Italy', 150.0, 1, ..., 492, 630, 'SAS'],
       ['Greece', 3200.0, 1, ..., 492, 630, 'SAS'],
       ['Italy', 8350.0, 1, ..., 492, 630, 'SAS'],
       ...,
       ['Italy', 877.55, 1, ..., 430, 505, 'SRL'],
       ['Italy', 951.6, 1, ..., 492, 830, 'SNC'],
       ['Italy', 68350.0, 1, ..., 482, 671, 'SNC']], dtype=object)

In [6]:
y=df['is_anomaly'].to_numpy(copy=True)
y

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [7]:
categorical_features=[0,2,3,4,5,6,7,8,9,10,11]

In [8]:
# Oversample with SMOTE and random undersample for imbalanced dataset
from imblearn.over_sampling import SMOTENC

smote_nc = SMOTENC(categorical_features=categorical_features, random_state=0)
X_resampled, y_resampled = smote_nc.fit_resample(X, y)

MemoryError: Unable to allocate 14.1 GiB for an array with shape (90902, 5, 4175) and data type float64

In [13]:
string='(181862, 13)'

In [15]:
print('PRE-SMOTENC DATASET SIZE: ', X.shape)
print('POST-SMOTENC DATASET SIZE: ', string)

PRE-SMOTENC DATASET SIZE:  (90960, 12)
POST-SMOTENC DATASET SIZE:  (181862, 13)

In [7]:
X_resampled

array([['Italy', 150.0, 1, ..., 492, 630, 'SAS'],
       ['Greece', 3200.0, 1, ..., 492, 630, 'SAS'],
       ['Italy', 8350.0, 1, ..., 492, 630, 'SAS'],
       ...,
       ['Italy', 22995.41733695098, 1, ..., 615, 11, 'SS'],
       ['Italy', 275.02973081287155, 1, ..., 430, 314, 'SRL'],
       ['Italy', 487.5100469176508, 0, ..., 614, 342, 'DI']], dtype=object)

In [8]:
y_resampled

array([0, 0, 0, ..., 1, 1, 1], dtype=int64)

In [9]:
data = pd.DataFrame(X_resampled)
data['is_anomaly']=y_resampled
data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,is_anomaly
0,Italy,150.0,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
1,Greece,3200.0,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
2,Italy,8350.0,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
3,Italy,500.0,1,Chrome,Windows,IT,2008,CEFGV,31039,430,505,SRL,0
4,Italy,1895.68,1,Chrome,Windows,IT,3069,CEFGV,31039,430,505,SRL,0

In [10]:
data.size()

TypeError: 'numpy.int32' object is not callable

In [12]:
data.shape

(181862, 13)

In [13]:
data.to_csv('smote.csv')

In [1]:
import pandas as pd
smote_df=pd.read_csv('smote.csv')
smote_df.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,is_anomaly
0,0,Italy,150.00,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
1,1,Greece,3200.00,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
2,2,Italy,8350.00,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
3,3,Italy,500.00,1,Chrome,Windows,IT,2008,CEFGV,31039,430,505,SRL,0
4,4,Italy,1895.68,1,Chrome,Windows,IT,3069,CEFGV,31039,430,505,SRL,0

In [2]:
smote_df=smote_df.drop(columns='Unnamed: 0')
smote_df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,is_anomaly
0,Italy,150.00,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
1,Greece,3200.00,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
2,Italy,8350.00,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
3,Italy,500.00,1,Chrome,Windows,IT,2008,CEFGV,31039,430,505,SRL,0
4,Italy,1895.68,1,Chrome,Windows,IT,3069,CEFGV,31039,430,505,SRL,0

In [3]:
smote_df[smote_df['is_anomaly']==1]

,0,1,2,3,4,5,6,7,8,9,10,11,is_anomaly
761,Italy,500000.000000,1,Chrome,Windows,NL,DEUT,ASR05,39100,491,11,SS,1
808,Italy,339093.180000,1,Chrome,Windows,NL,DEUT,ASR05,39100,491,11,SS,1
1070,Italy,500000.000000,1,Chrome,Windows,NL,DEUT,ASR05,39100,491,11,SS,1
3479,Italy,260.000000,1,Chrome,Windows,IT,8904,CLKXT,35010,430,314,SRL,1
10911,Italy,183.000000,1,Chrome,Windows,IT,8749,CKZYT,31038,430,314,SRL,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
181857,Italy,122660.711039,1,Chrome,Mac OS X,LV,UNLA,AMU3P,39100,615,11,SS,1
181858,Italy,127651.117388,1,Chrome,Windows,IT,28050100,CLMWZ,31040,430,830,SRL,1
181859,Italy,22995.417337,1,Chrome,Mac OS X,LV,UNLA,AMU3P,39100,615,11,SS,1
181860,Italy,275.029731,1,Chrome,Windows,IT,8399,CLMWZ,31040,430,314,SRL,1
181861,Italy,487.510047,0,Other,Linux,IT,8904,082X3,30024,614,342,DI,1

In [7]:
smote_df[smote_df['is_anomaly']==1].drop_duplicates()

,0,1,2,3,4,5,6,7,8,9,10,11,is_anomaly
761,Italy,500000.000000,1,Chrome,Windows,NL,DEUT,ASR05,39100,491,11,SS,1
808,Italy,339093.180000,1,Chrome,Windows,NL,DEUT,ASR05,39100,491,11,SS,1
3479,Italy,260.000000,1,Chrome,Windows,IT,8904,CLKXT,35010,430,314,SRL,1
10911,Italy,183.000000,1,Chrome,Windows,IT,8749,CKZYT,31038,430,314,SRL,1
18741,Italy,49778.960000,1,Chrome,Mac OS X,LV,UNLA,AMU3P,39100,615,11,SS,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
181857,Italy,122660.711039,1,Chrome,Mac OS X,LV,UNLA,AMU3P,39100,615,11,SS,1
181858,Italy,127651.117388,1,Chrome,Windows,IT,28050100,CLMWZ,31040,430,830,SRL,1
181859,Italy,22995.417337,1,Chrome,Mac OS X,LV,UNLA,AMU3P,39100,615,11,SS,1
181860,Italy,275.029731,1,Chrome,Windows,IT,8399,CLMWZ,31040,430,314,SRL,1
181861,Italy,487.510047,0,Other,Linux,IT,8904,082X3,30024,614,342,DI,1