In [1]:
import pandas as pd

In [16]:
EIF = pd.read_csv('EIF_scores.csv')
EIF=EIF.drop(columns='Unnamed: 0')

ECOD = pd.read_csv('ECOD_scores.csv')
ECOD=ECOD.drop(columns='Unnamed: 0')

LOF = pd.read_csv('LOF_scores.csv')
LOF=LOF.drop(columns='Unnamed: 0')

In [17]:
EIF.head()

,customerId,timestamp,country,amount,businessName,userAgent_isPc,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType,scores
0,93000801,2021-09-15 16:13:35.147,Italy,150.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0.474470
1,93000801,2021-08-24 10:34:24.487,Greece,3200.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0.501990
2,93000801,2021-09-14 16:21:43.33,Italy,8350.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0.506048
3,93001001,2021-06-30 09:07:16.733,Italy,500.00,3f241dfcc38064261fec0f303c2784e5,1,Chrome,Windows,IT,2008,CEFGV,31039,430,505,SRL,0.396751
4,93001001,2021-07-12 16:36:02.857,Italy,1895.68,a5d1eaffa8e325d370665f43624339a1,1,Chrome,Windows,IT,3069,CEFGV,31039,430,505,SRL,0.389160

In [18]:
LOF.head()

,customerId,timestamp,country,amount,businessName,userAgent_isPc,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType,scores,label
0,93000801,2021-09-15 16:13:35.147,Italy,150.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,-1.008318,1
1,93000801,2021-08-24 10:34:24.487,Greece,3200.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,-1.047175,1
2,93000801,2021-09-14 16:21:43.33,Italy,8350.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,-1.019783,1
3,93001001,2021-06-30 09:07:16.733,Italy,500.00,3f241dfcc38064261fec0f303c2784e5,1,Chrome,Windows,IT,2008,CEFGV,31039,430,505,SRL,-1.090301,1
4,93001001,2021-07-12 16:36:02.857,Italy,1895.68,a5d1eaffa8e325d370665f43624339a1,1,Chrome,Windows,IT,3069,CEFGV,31039,430,505,SRL,-1.006947,1

In [19]:
ECOD.head()

,customerId,timestamp,country,amount,businessName,userAgent_isPc,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType,scores,is_anomaly
0,93000801,2021-09-15 16:13:35.147,Italy,150.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,13.619869,0
1,93000801,2021-08-24 10:34:24.487,Greece,3200.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,17.579564,0
2,93000801,2021-09-14 16:21:43.33,Italy,8350.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,14.067937,0
3,93001001,2021-06-30 09:07:16.733,Italy,500.00,3f241dfcc38064261fec0f303c2784e5,1,Chrome,Windows,IT,2008,CEFGV,31039,430,505,SRL,8.099064,0
4,93001001,2021-07-12 16:36:02.857,Italy,1895.68,a5d1eaffa8e325d370665f43624339a1,1,Chrome,Windows,IT,3069,CEFGV,31039,430,505,SRL,7.269080,0

In [ ]:
EIF.

In [9]:
EIF[EIF['scores']>0.6].sort_values('scores',ascending=False)

,customerId,timestamp,country,amount,businessName,userAgent_isPc,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType,scores,label
68297,7617525401,2021-09-02 13:41:16.04,Austria,264986.74,1b4f5e4400efdbecde02456f48fc927b,1,Chrome,Windows,AT,34000,BUV4U,39031,430,161,SRL,0.714131,0
19156,1886395602,2021-07-22 09:37:46.25,Italy,182955.25,c0d1dad6d565af70674631ff4e055694,1,Safari,Mac OS X,DE,28050100,AMU3P,39100,615,11,SS,0.703772,0
44950,49733508,2021-06-15 08:23:11.847,Austria,200000.00,4eb8c873cf171a98d947b70a6e9cc98f,1,Edge,Windows,AT,37431,BZHIN,39036,430,660,SRL,0.696896,0
68525,7098914101,2021-09-15 10:56:42.87,Austria,190000.00,a40003308db47ae0d4fc067008c6de11,1,Chrome,Windows,AT,15000,A56UA,39049,430,830,SRL,0.696809,0
43968,41999520,2021-09-16 11:41:45.407,Italy,270000.00,d1126a5e3988d76235cde4c7eed8ebbd,0,Other,Linux,IT,3493,347D3,39038,430,830,GMBH,0.696690,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4505,5915175,2021-05-07 07:29:58.453,Italy,154000.00,1b70909d0fc5e99cbea4bab4075fd9fd,1,Chrome,Mac OS X,IT,5856,B1Y9I,32040,430,461,SRL,0.600346,0
64676,7227290201,2021-08-25 10:29:06.587,Italy,19375.67,31cd59d50c75d330d568f4392bcd3cc9,0,Other,Linux,IT,1005,CK6GZ,31100,430,773,SRL,0.600344,0
57569,37138397,2021-04-13 15:37:18.7,Italy,29187.96,8d8800f2b05c45a4ee976e07b5a17f52,1,Chrome,Windows,IT,1030,CJKAL,30027,615,11,SS,0.600326,0
64332,7208713201,2021-08-23 14:33:31.423,Italy,62502.91,922a6b4795cd70ae1591610e8d95d10b,1,Edge,Windows,IT,8175,A13B0,39013,482,412,SNC,0.600181,0
84718,9393584501,2021-08-05 09:40:14.003,Italy,67700.00,8bc892912a7509f1018e013d65ca588b,1,IE,Windows,IT,6045,A3C55,38057,615,830,STU,0.600124,0

In [10]:
EIF.loc[EIF.scores>0.684945, 'label']=1

In [11]:
EIF[EIF['scores']>0.6].sort_values('scores',ascending=False)

,customerId,timestamp,country,amount,businessName,userAgent_isPc,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType,scores,label
68297,7617525401,2021-09-02 13:41:16.04,Austria,264986.74,1b4f5e4400efdbecde02456f48fc927b,1,Chrome,Windows,AT,34000,BUV4U,39031,430,161,SRL,0.714131,1
19156,1886395602,2021-07-22 09:37:46.25,Italy,182955.25,c0d1dad6d565af70674631ff4e055694,1,Safari,Mac OS X,DE,28050100,AMU3P,39100,615,11,SS,0.703772,1
44950,49733508,2021-06-15 08:23:11.847,Austria,200000.00,4eb8c873cf171a98d947b70a6e9cc98f,1,Edge,Windows,AT,37431,BZHIN,39036,430,660,SRL,0.696896,1
68525,7098914101,2021-09-15 10:56:42.87,Austria,190000.00,a40003308db47ae0d4fc067008c6de11,1,Chrome,Windows,AT,15000,A56UA,39049,430,830,SRL,0.696809,1
43968,41999520,2021-09-16 11:41:45.407,Italy,270000.00,d1126a5e3988d76235cde4c7eed8ebbd,0,Other,Linux,IT,3493,347D3,39038,430,830,GMBH,0.696690,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4505,5915175,2021-05-07 07:29:58.453,Italy,154000.00,1b70909d0fc5e99cbea4bab4075fd9fd,1,Chrome,Mac OS X,IT,5856,B1Y9I,32040,430,461,SRL,0.600346,0
64676,7227290201,2021-08-25 10:29:06.587,Italy,19375.67,31cd59d50c75d330d568f4392bcd3cc9,0,Other,Linux,IT,1005,CK6GZ,31100,430,773,SRL,0.600344,0
57569,37138397,2021-04-13 15:37:18.7,Italy,29187.96,8d8800f2b05c45a4ee976e07b5a17f52,1,Chrome,Windows,IT,1030,CJKAL,30027,615,11,SS,0.600326,0
64332,7208713201,2021-08-23 14:33:31.423,Italy,62502.91,922a6b4795cd70ae1591610e8d95d10b,1,Edge,Windows,IT,8175,A13B0,39013,482,412,SNC,0.600181,0
84718,9393584501,2021-08-05 09:40:14.003,Italy,67700.00,8bc892912a7509f1018e013d65ca588b,1,IE,Windows,IT,6045,A3C55,38057,615,830,STU,0.600124,0

In [20]:
misc=pd.read_csv('misc_anomalies.csv')
misc.head()

,customerId,timestamp,country,amount,businessName,userAgent_isPc,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType,is_anomaly
0,93000801,2021-09-15 16:13:35.147,Italy,150,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
1,93000801,2021-08-24 10:34:24.487,Greece,3200,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
2,93000801,2021-09-14 16:21:43.33,Italy,8350,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0
3,93001001,2021-06-30 09:07:16.733,Italy,500,3f241dfcc38064261fec0f303c2784e5,1,Chrome,Windows,IT,2008,CEFGV,31039,430,505,SRL,0
4,93001001,2021-07-12 16:36:02.857,Italy,"1895,68",a5d1eaffa8e325d370665f43624339a1,1,Chrome,Windows,IT,3069,CEFGV,31039,430,505,SRL,0

In [21]:
misc.shape

(90960, 16)