<a href="https://colab.research.google.com/github/Cyber-Vadok/TESI/blob/master/Unsupervised_EIF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install eif

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting eif
  Downloading eif-2.0.2.tar.gz (1.6 MB)
     |████████████████████████████████| 1.6 MB 5.8 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from eif) (1.21.6)
Requirement already satisfied: cython in /usr/local/lib/python3.7/dist-packages (from eif) (0.29.32)
Building wheels for collected packages: eif
  Building wheel for eif (setup.py) ... done
  Created wheel for eif: filename=eif-2.0.2-cp37-cp37m-linux_x86_64.whl size=252513 sha256=c122ff587942cda4a2679715af4528ce6901352d428b43868c41580a803e704c
  Stored in directory: /root/.cache/pip/wheels/99/2d/aa/26b73ee1302b1967b90ea1dfa3ba78bcbcee9916a028a7bba5
Successfully built eif
Installing collected packages: eif
Successfully installed eif-2.0.2

In [13]:
import pandas as pd

In [14]:
labeled_df = pd.read_csv('labeled_df.csv')
labeled_df.shape

(90960, 16)

In [15]:
labeled_df = labeled_df.drop(columns='Unnamed: 0')
labeled_df.head()

,customerId,timestamp,country,amount,businessName,userAgent_isPc,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType
0,93000801,2021-09-15 16:13:35.147,6,150.00,c7543b6f04850eae288aa52783b33363,1,4,5,17,699,2013,144,19,113,5
1,93000801,2021-08-24 10:34:24.487,5,3200.00,c7543b6f04850eae288aa52783b33363,1,4,5,17,699,2013,144,19,113,5
2,93000801,2021-09-14 16:21:43.33,6,8350.00,c7543b6f04850eae288aa52783b33363,1,4,5,17,699,2013,144,19,113,5
3,93001001,2021-06-30 09:07:16.733,6,500.00,3f241dfcc38064261fec0f303c2784e5,1,0,5,17,123,1781,90,8,99,10
4,93001001,2021-07-12 16:36:02.857,6,1895.68,a5d1eaffa8e325d370665f43624339a1,1,0,5,17,285,1781,90,8,99,10

In [16]:
X=labeled_df.copy()
X=X.drop(columns=['businessName','customerId','timestamp'])
array=X.to_numpy
array

<bound method DataFrame.to_numpy of        country    amount  userAgent_isPc  userAgent_browserFamily  \
0            6    150.00               1                        4
1            5   3200.00               1                        4
2            6   8350.00               1                        4
3            6    500.00               1                        0
4            6   1895.68               1                        0
...        ...       ...             ...                      ...
90955        6   1437.00               1                        0
90956        6    567.00               1                        0
90957        6    877.55               1                        0
90958        6    951.60               1                        0
90959        6  68350.00               1                        0

       userAgent_osFamily  IBAN_countryCode  IBAN_bankCode   SIA  CAP  SAE  \
0                       5                17            699  2013  144   19
1                       5                17            699  2013  144   19
2                       5                17            699  2013  144   19
3                       5                17            123  1781   90    8
4                       5                17            285  1781   90    8
...                   ...               ...            ...   ...  ...  ...
90955                   5                17            285   199  212    8
90956                   5                17            123   199  212    8
90957                   5                17            745   199  212    8
90958                   3                17            285   500  208   19
90959                   5                17           1017  2121  248   16

       RAE  companyType
0      113            5
1      113            5
2      113            5
3       99           10
4       99           10
...    ...          ...
90955   99           10
90956   99           10
90957   99           10
90958  139            8
90959  128            8

[90960 rows x 12 columns]>

In [19]:
type(array)

numpy.ndarray

In [18]:
X=labeled_df.copy()
X=X.drop(columns=['businessName','customerId','timestamp'])
array=X.values
array

array([[6.0000e+00, 1.5000e+02, 1.0000e+00, ..., 1.9000e+01, 1.1300e+02,
        5.0000e+00],
       [5.0000e+00, 3.2000e+03, 1.0000e+00, ..., 1.9000e+01, 1.1300e+02,
        5.0000e+00],
       [6.0000e+00, 8.3500e+03, 1.0000e+00, ..., 1.9000e+01, 1.1300e+02,
        5.0000e+00],
       ...,
       [6.0000e+00, 8.7755e+02, 1.0000e+00, ..., 8.0000e+00, 9.9000e+01,
        1.0000e+01],
       [6.0000e+00, 9.5160e+02, 1.0000e+00, ..., 1.9000e+01, 1.3900e+02,
        8.0000e+00],
       [6.0000e+00, 6.8350e+04, 1.0000e+00, ..., 1.6000e+01, 1.2800e+02,
        8.0000e+00]])

In [20]:
import eif as iso
F1  = iso.iForest(array, ntrees=200, sample_size=256, ExtensionLevel=1)

In [22]:
import eif as iso
F1  = iso.iForest(array, ntrees=200, sample_size=256, ExtensionLevel=1)
S1 = F1.compute_paths(X_in=array)

In [23]:
S1

array([0.46736883, 0.4911096 , 0.51304825, ..., 0.38872465, 0.45532799,
       0.59700628])

In [24]:
type(S1)

numpy.ndarray

In [25]:
import numpy as np

In [26]:
np.max(S1)

0.7238987949654309

In [27]:
np.mean(S1)

0.4373917961702196

In [28]:
np.min(S1)

0.365704093745422

In [29]:
import pickle
encoder_dict=pickle.load(open('enc_dict.pkl','rb'))
columns_to_label = ['country', 'userAgent_browserFamily', 'userAgent_osFamily', 'IBAN_countryCode', 'IBAN_bankCode','CAP', 'SIA', 'SAE', 'RAE','companyType']

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:338: UserWarning: Trying to unpickle estimator LabelEncoder from version 1.1.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  UserWarning,

In [31]:
def inverse_and_scores(if_df,labeled_df,enc_dict,columns,scores):
    df_copy=labeled_df.copy()
    

    for clmn in columns:
        df_copy[clmn]=enc_dict[clmn].inverse_transform(df_copy[clmn])

    df_copy['scores'] = scores

    return df_copy

df_scores=inverse_and_scores(X,labeled_df,encoder_dict,columns_to_label,S1)

df_scores.head()

,customerId,timestamp,country,amount,businessName,userAgent_isPc,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType,scores
0,93000801,2021-09-15 16:13:35.147,Italy,150.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0.467369
1,93000801,2021-08-24 10:34:24.487,Greece,3200.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0.491110
2,93000801,2021-09-14 16:21:43.33,Italy,8350.00,c7543b6f04850eae288aa52783b33363,1,Firefox,Windows,IT,5856,CLFUY,33077,492,630,SAS,0.513048
3,93001001,2021-06-30 09:07:16.733,Italy,500.00,3f241dfcc38064261fec0f303c2784e5,1,Chrome,Windows,IT,2008,CEFGV,31039,430,505,SRL,0.396877
4,93001001,2021-07-12 16:36:02.857,Italy,1895.68,a5d1eaffa8e325d370665f43624339a1,1,Chrome,Windows,IT,3069,CEFGV,31039,430,505,SRL,0.388020

In [35]:
df_scores[df_scores['scores']>0.6].sort_values('scores',ascending=False)

,customerId,timestamp,country,amount,businessName,userAgent_isPc,userAgent_browserFamily,userAgent_osFamily,IBAN_countryCode,IBAN_bankCode,SIA,CAP,SAE,RAE,companyType,scores
19156,1886395602,2021-07-22 09:37:46.25,Italy,182955.25,c0d1dad6d565af70674631ff4e055694,1,Safari,Mac OS X,DE,28050100,AMU3P,39100,615,11,SS,0.723899
31913,2990179301,2021-09-21 21:00:24.67,Italy,996000.00,ff69963d268f6fefa843eb38edcf92f9,1,Safari,Mac OS X,IT,5034,CJTNN,36070,288,0,SRL,0.722669
43968,41999520,2021-09-16 11:41:45.407,Italy,270000.00,d1126a5e3988d76235cde4c7eed8ebbd,0,Other,Linux,IT,3493,347D3,39038,430,830,GMBH,0.721824
761,93764501,2021-05-13 11:47:37.413,Italy,500000.00,c5adec36fd13165678ceb02b5097c278,1,Chrome,Windows,NL,DEUT,ASR05,39100,491,11,SS,0.708980
1070,93764501,2021-06-15 12:23:08.263,Italy,500000.00,c5adec36fd13165678ceb02b5097c278,1,Chrome,Windows,NL,DEUT,ASR05,39100,491,11,SS,0.708980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52885,58147956,2021-07-09 18:33:06.43,Italy,408.76,7e89b620b417ad36135a403a3c9a2e4f,1,Safari,Mac OS X,IT,2008,CRUT0,31010,615,11,SS,0.600359
57621,63937136,2021-07-15 12:44:31.7,Italy,117987.00,56cc7a47d3f5cfc08d7893517b2a6240,1,Chrome,Windows,IT,5856,A2F04,31020,430,830,SRL,0.600266
84910,9393584501,2021-08-11 10:38:37.677,Italy,40000.00,b2565ae55be372f52ddc039459960858,1,IE,Windows,IT,8304,A3C55,38057,615,830,STU,0.600263
7132,713848601,2021-08-25 09:26:11.967,Italy,92286.63,2fc8faf8b35bbd226348d7efb5438b6c,1,Chrome,Windows,IT,8114,CKP07,39030,430,243,SRL,0.600200
18804,1886395602,2021-07-27 11:15:56.77,Italy,21784.32,f50de183b921f815340d1cb1e18e5b80,1,Chrome,Mac OS X,IT,8692,AMU3P,39100,615,11,SS,0.600181